<palette name="">
  <version>
    71 0 
  </version>
  <styles>
    <style>
      color_0 3 255 255 255 0 
    </style>
    <style>
      color_1 3 0 0 0 255 
    </style>
    <style>
      _1 color_2 3 255 0 255 0 
    </style>
    <style>
      color_3 3 255 255 255 255 
    </style>
    <style>
      color_4 3 255 0 0 255 
    </style>
    <style>
      color_5 3 0 0 255 255 
    </style>
    </styles>
  <stylepages>
    <page>
      <name>
        colors 
      </name>
      <indices>
        0 1 2 3 4 5 
      </indices>
      </page>
    </stylepages>
  <shortcuts>
    -1 0 1 2 3 4 5 -1 -1 -1 
  </shortcuts>
  </palette>
